*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;  
}

@import "partials/colors";

body{
  font-family: 'Inter', sans-serif;
  background-color: $white-normal;
  display: flex;
  flex-direction: column;
  min-width: 100vh;
  margin: 0px;
}

button{
  font-family: 'Inter', sans-serif;  
}

header{
  justify-content: center;
  display: flex;
}

.agendamento {
  text-align: center;
  padding: 30px;
}

.agendamento h2{
  color: $primary-normal;
  font-size: 24px;
  margin-bottom: 10px;
}

.agendamento p {
  margin-bottom: 20px;
  color: $primary-light;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

input {
  width: 520px;
  height: 62px;
  padding: 20px;
  border: 1px solid $white-dark;
  border-radius: 15px;
  font-size: 20px;
}

button {
  margin-top: 36px;
  background-color: $primary-normal;
  color: $white-normal;
  padding: 6px 38px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: backgroud-color 0.9s ease;
}

button:hover {
  background-color: $primary-light;
}

.servicos  {
  padding: 20px;
}

.servicos h2 {
  margin-bottom: 10px;
  text-align: center;
  color: $primary-normal;
}

.servicos-container {
  display: flex;
}